In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password

In [2]:
connection_string = f"udxenurz:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['cases', 'vaccinations', 'gender']

In [3]:
df = pd.read_sql_query('select * from vaccinations', con=engine)

In [4]:
df.head(3)

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020-12-14,Anne Arundel,2,2,0,0,0,0,0,0,0,2
1,2,2020-12-15,Anne Arundel,1,3,0,0,0,0,0,0,0,3
2,3,2020-12-16,Anne Arundel,54,57,0,0,0,0,0,0,0,57

In [5]:
dfv = df.drop(columns = ['FirstDoseDaily', 'FirstDoseCumulative', 'SecondDoseDaily', 'SecondDoseCumulative', 'SingleDoseDaily', 'SingleDoseCumulative', 'AtLeastOneDose', 'AtLeastOneDoseCumulative'])
dfv

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
0,1,2020-12-14,Anne Arundel,0,0
1,2,2020-12-15,Anne Arundel,0,0
2,3,2020-12-16,Anne Arundel,0,0
3,4,2020-12-17,Anne Arundel,0,0
4,5,2020-12-18,Anne Arundel,0,0
...,...,...,...,...,...
4059,4060,2021-05-24,Washington,389,52894
4060,4061,2021-05-25,Washington,348,53242
4061,4062,2021-05-26,Washington,352,53594
4062,4063,2021-05-27,Washington,237,53831
4063,4064,2021-05-28,Washington,285,54116

In [6]:
dfv = dfv[dfv['County'] != 'Unknown']
dfv

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
0,1,2020-12-14,Anne Arundel,0,0
1,2,2020-12-15,Anne Arundel,0,0
2,3,2020-12-16,Anne Arundel,0,0
3,4,2020-12-17,Anne Arundel,0,0
4,5,2020-12-18,Anne Arundel,0,0
...,...,...,...,...,...
4059,4060,2021-05-24,Washington,389,52894
4060,4061,2021-05-25,Washington,348,53242
4061,4062,2021-05-26,Washington,352,53594
4062,4063,2021-05-27,Washington,237,53831
4063,4064,2021-05-28,Washington,285,54116

In [7]:
dfv["County"]= dfv["County"].astype(str)

In [8]:
county_pop = [
    {'county': "Allegany", 'population': 75300},
    {'county': "Anne Arundel", 'population': 556100},
    {'county': "Baltimore", 'population': 842600},
    {'county': "Baltimore City", 'population': 620961},
    {'county': "Calvert", 'population': 100450},
    {'county': "Caroline", 'population': 40300},
    {'county': "Carroll", 'population': 197400},
    {'county': "Cecil", 'population': 130350},
    {'county': "Charles", 'population': 177200},
    {'county': "Dorchester", 'population': 36300},
    {'county': "Frederick", 'population': 287900},
    {'county': "Garrett", 'population': 31600},
    {'county': "Harford", 'population': 276500},
    {'county': "Howard", 'population': 312900},
    {'county': "Kent", 'population': 22200},
    {'county': "Montgomery", 'population': 1075000},
    {'county': "Prince George's", 'population': 921900},
    {'county': "Queen Anne's", 'population': 55650},
    {'county': "St. Mary's", 'population': 130100},
    {'county': "Somerset", 'population': 28300},
    {'county': "Talbot", 'population': 40050},
    {'county': "Washington", 'population': 170950},
    {'county': "Wicomico", 'population': 107450},
    {'county': "Worcester", 'population': 56250},
]

In [9]:
for county in county_pop:
    print(county)

{'county': 'Allegany', 'population': 75300}
{'county': 'Anne Arundel', 'population': 556100}
{'county': 'Baltimore', 'population': 842600}
{'county': 'Baltimore City', 'population': 620961}
{'county': 'Calvert', 'population': 100450}
{'county': 'Caroline', 'population': 40300}
{'county': 'Carroll', 'population': 197400}
{'county': 'Cecil', 'population': 130350}
{'county': 'Charles', 'population': 177200}
{'county': 'Dorchester', 'population': 36300}
{'county': 'Frederick', 'population': 287900}
{'county': 'Garrett', 'population': 31600}
{'county': 'Harford', 'population': 276500}
{'county': 'Howard', 'population': 312900}
{'county': 'Kent', 'population': 22200}
{'county': 'Montgomery', 'population': 1075000}
{'county': "Prince George's", 'population': 921900}
{'county': "Queen Anne's", 'population': 55650}
{'county': "St. Mary's", 'population': 130100}
{'county': 'Somerset', 'population': 28300}
{'county': 'Talbot', 'population': 40050}
{'county': 'Washington', 'population': 170950}
{'county': 'Wicomico', 'population': 107450}
{'county': 'Worcester', 'population': 56250}

In [10]:
dfv['DATE'] = pd.to_datetime(dfv['DATE'])

In [11]:
date = '2020-12-16'

In [12]:
last_date = dfv[dfv['DATE'] == date]

In [13]:
last_date

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
2,3,2020-12-16,Anne Arundel,0,0
166,167,2020-12-16,Calvert,0,0
169,170,2020-12-16,Baltimore,0,1
380,381,2020-12-16,Carroll,0,0
427,428,2020-12-16,Cecil,0,0
656,657,2020-12-16,Dorchester,0,0
759,760,2020-12-16,Charles,0,0
1066,1067,2020-12-16,Frederick,0,0
1398,1399,2020-12-16,Harford,0,0
1545,1546,2020-12-16,Baltimore City,0,0
1693,1694,2020-12-16,Montgomery,0,0
1898,1899,2020-12-16,Howard,0,0
2062,2063,2020-12-16,Queen Anne's,0,0
2224,2225,2020-12-16,St. Mary's,0,0
2362,2363,2020-12-16,Prince George's,0,1
2638,2639,2020-12-16,Talbot,0,0
2829,2830,2020-12-16,Caroline,0,0
3018,3019,2020-12-16,Wicomico,0,0
3856,3857,2020-12-16,Washington,0,0

In [14]:
temp = last_date.loc[last_date['County'] == "Washington"]
temp

        ID       DATE      County  FullyVaccinated  FullVaccinatedCumulative
3856  3857 2020-12-16  Washington                0                         0

In [15]:
for index,county in enumerate(county_pop):
    dates = date
    try:
        vaccines = last_date[last_date['County'] == county['county']]['FullVaccinatedCumulative'].item()
    except:
        vaccines = 0
    county_pop[index]['date'] = dates
    county_pop[index]['FullVaccinatedCumulative'] = vaccines
county_pop

[{'county': 'Allegany',
  'population': 75300,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Anne Arundel',
  'population': 556100,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Baltimore',
  'population': 842600,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 1},
 {'county': 'Baltimore City',
  'population': 620961,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Calvert',
  'population': 100450,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Caroline',
  'population': 40300,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Carroll',
  'population': 197400,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Cecil',
  'population': 130350,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Charles',
  'population': 177200,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Dorchester',
  'population': 36300,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Frederick',
  'population': 287900,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Garrett',
  'population': 31600,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Harford',
  'population': 276500,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Howard',
  'population': 312900,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Kent',
  'population': 22200,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Montgomery',
  'population': 1075000,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': "Prince George's",
  'population': 921900,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 1},
 {'county': "Queen Anne's",
  'population': 55650,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': "St. Mary's",
  'population': 130100,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Somerset',
  'population': 28300,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Talbot',
  'population': 40050,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Washington',
  'population': 170950,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Wicomico',
  'population': 107450,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0},
 {'county': 'Worcester',
  'population': 56250,
  'date': '2020-12-16',
  'FullVaccinatedCumulative': 0}]

In [16]:
import json
json.dumps(county_pop)

'[{"county": "Allegany", "population": 75300, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Anne Arundel", "population": 556100, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Baltimore", "population": 842600, "date": "2020-12-16", "FullVaccinatedCumulative": 1}, {"county": "Baltimore City", "population": 620961, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Calvert", "population": 100450, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Caroline", "population": 40300, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Carroll", "population": 197400, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Cecil", "population": 130350, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Charles", "population": 177200, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Dorchester", "population": 36300, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Frederick", "population": 287900, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Garrett", "population": 31600, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Harford", "population": 276500, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Howard", "population": 312900, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Kent", "population": 22200, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Montgomery", "population": 1075000, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Prince George\'s", "population": 921900, "date": "2020-12-16", "FullVaccinatedCumulative": 1}, {"county": "Queen Anne\'s", "population": 55650, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "St. Mary\'s", "population": 130100, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Somerset", "population": 28300, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Talbot", "population": 40050, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Washington", "population": 170950, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Wicomico", "population": 107450, "date": "2020-12-16", "FullVaccinatedCumulative": 0}, {"county": "Worcester", "population": 56250, "date": "2020-12-16", "FullVaccinatedCumulative": 0}]'