In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from config import password

In [2]:
connection_string = f"udxenurz:{password}@batyr.db.elephantsql.com/udxenurz"
engine = create_engine(f'postgres://{connection_string}')
print(engine.table_names())

['gender', 'vaccinations', 'cases']

In [3]:
df = pd.read_sql_query('select * from vaccinations', con=engine)

In [4]:
df.head(3)

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020-12-15,Baltimore,1,1,1,1,0,0,0,0,1,1
1,2,2020-12-16,Baltimore,122,123,0,1,0,0,0,0,1,123
2,3,2020-12-17,Baltimore,189,312,0,1,0,0,0,0,1,312

In [5]:
dfv = df.drop(columns = ['FirstDoseDaily', 'FirstDoseCumulative', 'SecondDoseDaily', 'SecondDoseCumulative', 'SingleDoseDaily', 'SingleDoseCumulative', 'AtLeastOneDose', 'AtLeastOneDoseCumulative'])
dfv

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
0,1,2020-12-15,Baltimore,0,1
1,2,2020-12-16,Baltimore,0,1
2,3,2020-12-17,Baltimore,0,1
3,4,2020-12-18,Baltimore,0,2
4,5,2020-12-19,Baltimore,0,2
...,...,...,...,...,...
4009,4010,2021-05-22,Prince George's,2007,325407
4010,4011,2021-05-23,Prince George's,1512,326919
4011,4012,2021-05-24,Prince George's,2925,329844
4012,4013,2021-05-25,Prince George's,2040,331884
4013,4014,2021-05-26,Prince George's,852,332736

In [6]:
dfv = dfv[dfv['County'] != 'Unknown']
dfv

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
0,1,2020-12-15,Baltimore,0,1
1,2,2020-12-16,Baltimore,0,1
2,3,2020-12-17,Baltimore,0,1
3,4,2020-12-18,Baltimore,0,2
4,5,2020-12-19,Baltimore,0,2
...,...,...,...,...,...
4009,4010,2021-05-22,Prince George's,2007,325407
4010,4011,2021-05-23,Prince George's,1512,326919
4011,4012,2021-05-24,Prince George's,2925,329844
4012,4013,2021-05-25,Prince George's,2040,331884
4013,4014,2021-05-26,Prince George's,852,332736

In [7]:
dfv["County"]= dfv["County"].astype(str)

In [20]:
county_pop = [
    {'county': "Allegany", 'population': 75300},
    {'county': "Anne Arundel", 'population': 556100},
    {'county': "Baltimore", 'population': 842600},
    {'county': "Baltimore City", 'population': 620961},
    {'county': "Calvert", 'population': 100450},
    {'county': "Caroline", 'population': 40300},
    {'county': "Carroll", 'population': 197400},
    {'county': "Cecil", 'population': 130350},
    {'county': "Charles", 'population': 177200},
    {'county': "Dorchester", 'population': 36300},
    {'county': "Frederick", 'population': 287900},
    {'county': "Garrett", 'population': 31600},
    {'county': "Harford", 'population': 276500},
    {'county': "Howard", 'population': 312900},
    {'county': "Kent", 'population': 22200},
    {'county': "Montgomery", 'population': 1075000},
    {'county': "Prince George's", 'population': 921900},
    {'county': "Queen Anne's", 'population': 55650},
    {'county': "St. Mary's", 'population': 130100},
    {'county': "Somerset", 'population': 28300},
    {'county': "Talbot", 'population': 40050},
    {'county': "Washington", 'population': 170950},
    {'county': "Wicomico", 'population': 107450},
    {'county': "Worcester", 'population': 56250},
]

In [21]:
for county in county_pop:
    print(county)

{'county': 'Allegany', 'population': 75300}
{'county': 'Anne Arundel', 'population': 556100}
{'county': 'Baltimore', 'population': 842600}
{'county': 'Baltimore City', 'population': 620961}
{'county': 'Calvert', 'population': 100450}
{'county': 'Caroline', 'population': 40300}
{'county': 'Carroll', 'population': 197400}
{'county': 'Cecil', 'population': 130350}
{'county': 'Charles', 'population': 177200}
{'county': 'Dorchester', 'population': 36300}
{'county': 'Frederick', 'population': 287900}
{'county': 'Garrett', 'population': 31600}
{'county': 'Harford', 'population': 276500}
{'county': 'Howard', 'population': 312900}
{'county': 'Kent', 'population': 22200}
{'county': 'Montgomery', 'population': 1075000}
{'county': "Prince George's", 'population': 921900}
{'county': "Queen Anne's", 'population': 55650}
{'county': "St. Mary's", 'population': 130100}
{'county': 'Somerset', 'population': 28300}
{'county': 'Talbot', 'population': 40050}
{'county': 'Washington', 'population': 170950}
{'county': 'Wicomico', 'population': 107450}
{'county': 'Worcester', 'population': 56250}

In [10]:
dfv['DATE'] = pd.to_datetime(df['DATE'])

In [11]:
last_date = dfv[dfv['DATE'] == '2021-05-22']

In [12]:
last_date

,ID,DATE,County,FullyVaccinated,FullVaccinatedCumulative
158,159,2021-05-22,Baltimore,2467,368155
569,570,2021-05-22,Allegany,20,24246
759,760,2021-05-22,Carroll,373,75714
917,918,2021-05-22,Baltimore City,1405,213737
1033,1034,2021-05-22,Cecil,129,31854
1222,1223,2021-05-22,Charles,142,59367
1384,1385,2021-05-22,Harford,437,110798
1567,1568,2021-05-22,Anne Arundel,1261,246622
1630,1631,2021-05-22,Howard,1726,175763
1846,1847,2021-05-22,Queen Anne's,87,21691
2029,2030,2021-05-22,Caroline,72,12315
2090,2091,2021-05-22,St. Mary's,36,44035
2207,2208,2021-05-22,Dorchester,30,11970
2439,2440,2021-05-22,Kent,0,8715
2558,2559,2021-05-22,Talbot,62,19147
2698,2699,2021-05-22,Somerset,6,7477
3101,3102,2021-05-22,Calvert,72,38364
3168,3169,2021-05-22,Wicomico,71,35615
3243,3244,2021-05-22,Washington,179,51980
3482,3483,2021-05-22,Frederick,1420,119817
3546,3547,2021-05-22,Worcester,39,24000
3682,3683,2021-05-22,Garrett,20,9776
3846,3847,2021-05-22,Montgomery,2292,532855
4009,4010,2021-05-22,Prince George's,2007,325407

In [16]:
temp = last_date.loc[last_date['County'] == "Washington"]
temp

        ID       DATE      County  FullyVaccinated  FullVaccinatedCumulative
3243  3244 2021-05-22  Washington              179                     51980

In [22]:
for county in county_pop:
    full_vacc = last_date[last_date['County'] == county['county']]['FullVaccinatedCumulative'].item()
    county['fully_vaccinated'] = full_vacc
county_pop

[{'county': 'Allegany', 'population': 75300, 'fully_vaccinated': 24246},
 {'county': 'Anne Arundel', 'population': 556100, 'fully_vaccinated': 246622},
 {'county': 'Baltimore', 'population': 842600, 'fully_vaccinated': 368155},
 {'county': 'Baltimore City',
  'population': 620961,
  'fully_vaccinated': 213737},
 {'county': 'Calvert', 'population': 100450, 'fully_vaccinated': 38364},
 {'county': 'Caroline', 'population': 40300, 'fully_vaccinated': 12315},
 {'county': 'Carroll', 'population': 197400, 'fully_vaccinated': 75714},
 {'county': 'Cecil', 'population': 130350, 'fully_vaccinated': 31854},
 {'county': 'Charles', 'population': 177200, 'fully_vaccinated': 59367},
 {'county': 'Dorchester', 'population': 36300, 'fully_vaccinated': 11970},
 {'county': 'Frederick', 'population': 287900, 'fully_vaccinated': 119817},
 {'county': 'Garrett', 'population': 31600, 'fully_vaccinated': 9776},
 {'county': 'Harford', 'population': 276500, 'fully_vaccinated': 110798},
 {'county': 'Howard', 'population': 312900, 'fully_vaccinated': 175763},
 {'county': 'Kent', 'population': 22200, 'fully_vaccinated': 8715},
 {'county': 'Montgomery', 'population': 1075000, 'fully_vaccinated': 532855},
 {'county': "Prince George's",
  'population': 921900,
  'fully_vaccinated': 325407},
 {'county': "Queen Anne's", 'population': 55650, 'fully_vaccinated': 21691},
 {'county': "St. Mary's", 'population': 130100, 'fully_vaccinated': 44035},
 {'county': 'Somerset', 'population': 28300, 'fully_vaccinated': 7477},
 {'county': 'Talbot', 'population': 40050, 'fully_vaccinated': 19147},
 {'county': 'Washington', 'population': 170950, 'fully_vaccinated': 51980},
 {'county': 'Wicomico', 'population': 107450, 'fully_vaccinated': 35615},
 {'county': 'Worcester', 'population': 56250, 'fully_vaccinated': 24000}]

In [24]:
import json
json.dumps(county_pop)

'[{"county": "Allegany", "population": 75300, "fully_vaccinated": 24246}, {"county": "Anne Arundel", "population": 556100, "fully_vaccinated": 246622}, {"county": "Baltimore", "population": 842600, "fully_vaccinated": 368155}, {"county": "Baltimore City", "population": 620961, "fully_vaccinated": 213737}, {"county": "Calvert", "population": 100450, "fully_vaccinated": 38364}, {"county": "Caroline", "population": 40300, "fully_vaccinated": 12315}, {"county": "Carroll", "population": 197400, "fully_vaccinated": 75714}, {"county": "Cecil", "population": 130350, "fully_vaccinated": 31854}, {"county": "Charles", "population": 177200, "fully_vaccinated": 59367}, {"county": "Dorchester", "population": 36300, "fully_vaccinated": 11970}, {"county": "Frederick", "population": 287900, "fully_vaccinated": 119817}, {"county": "Garrett", "population": 31600, "fully_vaccinated": 9776}, {"county": "Harford", "population": 276500, "fully_vaccinated": 110798}, {"county": "Howard", "population": 312900, "fully_vaccinated": 175763}, {"county": "Kent", "population": 22200, "fully_vaccinated": 8715}, {"county": "Montgomery", "population": 1075000, "fully_vaccinated": 532855}, {"county": "Prince George\'s", "population": 921900, "fully_vaccinated": 325407}, {"county": "Queen Anne\'s", "population": 55650, "fully_vaccinated": 21691}, {"county": "St. Mary\'s", "population": 130100, "fully_vaccinated": 44035}, {"county": "Somerset", "population": 28300, "fully_vaccinated": 7477}, {"county": "Talbot", "population": 40050, "fully_vaccinated": 19147}, {"county": "Washington", "population": 170950, "fully_vaccinated": 51980}, {"county": "Wicomico", "population": 107450, "fully_vaccinated": 35615}, {"county": "Worcester", "population": 56250, "fully_vaccinated": 24000}]'