<h1 style="text-align:center;font-size:50px; background-color:pink; color: white"> Vaccines Clean up Process <h1>

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [2]:
csv_path = "./maryland_vaccinations.csv"
df = pd.read_csv(csv_path)

In [3]:
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14 15:00:00+00,Anne Arundel ...,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15 15:00:00+00,Anne Arundel ...,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16 15:00:00+00,Anne Arundel ...,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17 15:00:00+00,Anne Arundel ...,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18 15:00:00+00,Anne Arundel ...,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008,4009,2021/05/19 15:00:00+00,Washington ...,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
4009,4010,2021/05/20 15:00:00+00,Washington ...,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
4010,4011,2021/05/21 15:00:00+00,Washington ...,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
4011,4012,2021/05/22 15:00:00+00,Washington ...,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
4012,4013,2021/05/23 15:00:00+00,Washington ...,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

#### Dropping rows with missing county data

In [4]:
df = df.dropna(subset=['County'])
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14 15:00:00+00,Anne Arundel ...,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15 15:00:00+00,Anne Arundel ...,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16 15:00:00+00,Anne Arundel ...,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17 15:00:00+00,Anne Arundel ...,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18 15:00:00+00,Anne Arundel ...,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008,4009,2021/05/19 15:00:00+00,Washington ...,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
4009,4010,2021/05/20 15:00:00+00,Washington ...,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
4010,4011,2021/05/21 15:00:00+00,Washington ...,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
4011,4012,2021/05/22 15:00:00+00,Washington ...,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
4012,4013,2021/05/23 15:00:00+00,Washington ...,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

### Deleting extra spaces in counties

In [5]:
df['County'] = df['County'].str.rstrip()
df

<ipython-input-5-af64cc89c5e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['County'] = df['County'].str.rstrip()

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14 15:00:00+00,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15 15:00:00+00,Anne Arundel,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16 15:00:00+00,Anne Arundel,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17 15:00:00+00,Anne Arundel,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18 15:00:00+00,Anne Arundel,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008,4009,2021/05/19 15:00:00+00,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
4009,4010,2021/05/20 15:00:00+00,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
4010,4011,2021/05/21 15:00:00+00,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
4011,4012,2021/05/22 15:00:00+00,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
4012,4013,2021/05/23 15:00:00+00,Washington,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

In [6]:
df = df.reset_index(drop=True)
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14 15:00:00+00,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15 15:00:00+00,Anne Arundel,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16 15:00:00+00,Anne Arundel,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17 15:00:00+00,Anne Arundel,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18 15:00:00+00,Anne Arundel,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,4009,2021/05/19 15:00:00+00,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
3935,4010,2021/05/20 15:00:00+00,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
3936,4011,2021/05/21 15:00:00+00,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
3937,4012,2021/05/22 15:00:00+00,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
3938,4013,2021/05/23 15:00:00+00,Washington,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

#### resetting object ID values

In [7]:
df["OBJECTID"] = np.arange(1,df.shape[0]+1)
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14 15:00:00+00,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15 15:00:00+00,Anne Arundel,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16 15:00:00+00,Anne Arundel,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17 15:00:00+00,Anne Arundel,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18 15:00:00+00,Anne Arundel,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,3935,2021/05/19 15:00:00+00,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
3935,3936,2021/05/20 15:00:00+00,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
3936,3937,2021/05/21 15:00:00+00,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
3937,3938,2021/05/22 15:00:00+00,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
3938,3939,2021/05/23 15:00:00+00,Washington,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

In [8]:
columnsplit = df['VACCINATION_DATE'].str.split(' ',n=1, expand=True)
# Assigning Column 0 to DATE
df = df.assign(VACCINATION_DATE=columnsplit[0])
df

,OBJECTID,VACCINATION_DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15,Anne Arundel,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16,Anne Arundel,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17,Anne Arundel,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18,Anne Arundel,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,3935,2021/05/19,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
3935,3936,2021/05/20,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
3936,3937,2021/05/21,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
3937,3938,2021/05/22,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
3938,3939,2021/05/23,Washington,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

#### Renaming OBJECTID AND Vaccionation_date  columns

In [9]:
df.rename(columns={"OBJECTID":"ID", "VACCINATION_DATE":"DATE"},inplace=True)
df

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2
1,2,2020/12/15,Anne Arundel,1.0,3,NaN,0,NaN,0,NaN,NaN,0,3
2,3,2020/12/16,Anne Arundel,53.0,56,NaN,0,NaN,0,NaN,NaN,0,56
3,4,2020/12/17,Anne Arundel,99.0,155,NaN,0,NaN,0,NaN,NaN,0,155
4,5,2020/12/18,Anne Arundel,169.0,324,NaN,0,NaN,0,NaN,NaN,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,3935,2021/05/19,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
3935,3936,2021/05/20,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
3936,3937,2021/05/21,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
3937,3938,2021/05/22,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
3938,3939,2021/05/23,Washington,11.0,51538,14.0,41541,NaN,8863,NaN,NaN,50404,60401

#### Replacing NaN values with 0

In [10]:
df = df.replace(np.nan,0)
df

,ID,DATE,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative
0,1,2020/12/14,Anne Arundel,2.0,2,0.0,0,0.0,0,0.0,0.0,0,2
1,2,2020/12/15,Anne Arundel,1.0,3,0.0,0,0.0,0,0.0,0.0,0,3
2,3,2020/12/16,Anne Arundel,53.0,56,0.0,0,0.0,0,0.0,0.0,0,56
3,4,2020/12/17,Anne Arundel,99.0,155,0.0,0,0.0,0,0.0,0.0,0,155
4,5,2020/12/18,Anne Arundel,169.0,324,0.0,0,0.0,0,0.0,0.0,0,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,3935,2021/05/19,Washington,353.0,50678,596.0,40273,35.0,8778,388.0,631.0,49051,59456
3935,3936,2021/05/20,Washington,248.0,50926,658.0,40931,52.0,8830,300.0,710.0,49761,59756
3936,3937,2021/05/21,Washington,361.0,51287,430.0,41361,29.0,8859,390.0,459.0,50220,60146
3937,3938,2021/05/22,Washington,240.0,51527,166.0,41527,4.0,8863,244.0,170.0,50390,60390
3938,3939,2021/05/23,Washington,11.0,51538,14.0,41541,0.0,8863,0.0,0.0,50404,60401

### putting df into vaccinations table in pgadmin server
#### Connecting to DB

In [11]:
from config import password
connection_string = f"postgres:{password}@localhost:5433/covid19_MD_Data"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
engine.table_names()

['cases', 'vaccinations']

In [13]:
# dropping values that are in any of our tables and resetting the index.
with engine.connect() as con:
    statement = [text("""Truncate table vaccinations CASCADE""")]
    for query in statement:
        con.execute(query)

In [14]:
df.to_sql(name='vaccinations', con=engine, if_exists='append', index=False)